<form action="/articles/<%= params[:article_id]%>/comments/<%= params[:id] %>" method="post">
  <%= token_tag nil %>
  Name: <input type="text" name="comment[name]" required>
  Body: <input type="text" name="comment[body]" required>
  <input type="hidden" name="_method" value="put">
  <button type="submit">Submit</button>
</form>

<form action="/articles/<%= params[:article_id]%>/comments/<%= params[:id] %>" method="post">
  <%= token_tag nil %>
  <input type="hidden" name="_method" value="DELETE">
  <button type="submit">Delete</button>
</form>
