<%= flash[:message] %>
<h2><%= @article.title %></h2>
<p><%= @article.body %></p>

<%= form_for :comment, url: article_comments_path(@article) do |f| %>
  <%= f.text_field :name %>
  <%= f.text_area :body %>
  <%= f.submit "Submit" %>
<% end %>


<% @article.comments.each do |comment| %>
  <div>
    <h3><%= comment.name %></h3>
    <p><%= comment.body %></p>
  </div>
<% end %>